<?php
$AUTOCONFIG = array(
  "dbtype"        => "pgsql",
  "dbname"        => "owncloud",
  "dbuser"        => "owncloud",
  "dbpass"        => "{{ owncloud_db_password }}",
  "dbhost"        => "localhost",
  "dbtableprefix" => "",
  "directory" => "/usr/share/owncloud/data",
);
